.container-merchant-readOnly-head {
    gap: 24px;
    height: auto;
    flex-wrap: wrap;
    background-color: transparent !important;
    margin-bottom: 20px;
}

.container-head-readonly {
    height: 119px;
    border-radius: 7px !important;
    padding: 12px 24px 24px 24px;
    background-color: #ffffff;
    width: 285px;
}

.container-merchant-readOnly-content {
    padding: 12px 24px 24px 24px;
    gap: 24px;
    background-color: transparent !important;
    border-radius: 7px !important;
    margin-bottom: 10px;
}

.style-tab-readonly .mud-tabs-tabbar {
    box-shadow: 0px 4px 4px 0px #0000000D
}

.shadow-box {
    box-shadow: 0px 4px 4px 0px #0000000D !important;
}

.container-head-action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.name-company-text {
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 100% !important;
    color: #343030 !important;
}

.btn-account-state {
    width: 158px;
    height: 31px;
    border-radius: 30px !important;
    padding: 8px 24px !important;
    border: 1px solid #293E8C !important;
    background: #FFFFFF;
    text-transform: none !important;
}

    .btn-account-state .mud-button-label {
        font-weight: 700;
        font-size: 12px;
        line-height: 14.63px;
        text-align: center;
        color: #293E8C;
    }

.btn-add-transaction {
    width: 192.49px;
    height: 31px;
    border-radius: 30px !important;
    padding: 8px 24px !important;
    background: #293E8C !important;
    text-transform: none !important;
}

.w-mudSelect .mud-select {
    max-width: 100px;
}

.filter-readOnly-popover {
    max-width: 150px !important;
}

.filter-select-readOnly .mud-input-control-input-container {
    width: 110px;
}

.filter-select-readOnly .mud-input .mud-input-slot {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 14.63px;
    color: #1B2C6A;
}

/*.filter-readOnly-popover {
    width:20px;
}*/

.filter-readOnly-popover .mud-typography-body1 {
    font-size: 12px !important;
    font-weight: 400;
    line-height: 14.63px;
    color: #707070;
}

.head-style-text {
    display: flex !important;
    align-items: center; /* Centra verticalmente */
    justify-content: start; /* Centra horizontalmente */
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    color: #343030;
    height: 28px;
}

.btn-add-transaction .mud-button-label {
    font-weight: 700;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
    color: #FFFFFF;
}

.btn-icon-close-size {
    width: 12px;
    height: 12px;
}

.style-tab-readonly .mud-tabs-tabbar .mud-tabs-tabbar-content {
    border-radius: 7px;
    margin-left: 10px;
}

body .style-tab-readonly .mud-tabs-border-top {
    border-bottom: 0px !important;
    border-radius: 7px !important;
}

.container-merchant-readOnly-grid {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 7px !important;
    height: 460px; /* Altura fija, asegúrate de que sea necesaria */
    width: 388px; /* Cambia a 100% para que ocupe el ancho disponible */
    padding: 16px; /* Añade un padding para mejorar el espaciado */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.mud-grid-merchant-readOnly {
    width: auto !important;
    height: auto !important;
    margin-top: 15px !important;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
}

    .mud-grid-merchant-readOnly .item-custom {
        width: auto; /* Ajusta el ancho para 2 columnas con gap */
        height: 30px; /* Altura automática */
        white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
        display: flex;
        align-items: center; /* Centra el contenido verticalmente */
        justify-content: flex-start; /* Alinea el contenido a la izquierda */
        padding: 8px; /* Añade un padding interno */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    }

.style-text-content {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14.63px !important;
    color: #343030 !important;
}

    .style-text-content .mud-typography-body1 {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 14.63px !important;
        color: #707070 !important;
    }

.header-text-company-data {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 14.63px !important;
    color: #343030 !important;
}

    .header-text-company-data .mud-typography-body1 {
        font-weight: 400 !important;
        font-size: 12px !important;
        line-height: 14.63px !important;
        color: #707070 !important;
    }

.style-text-number {
    font-weight: 600 !important;
    font-size: 40px !important;
    line-height: 100% !important;
    color: #343030 !important;
}

.style-text-sub-date {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 100% !important;
    color: #293E8C !important;
    margin-top: 10px;
}

.style-text-decimal {
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 100% !important;
    color: #343030 !important;
    vertical-align: baseline;
    margin-top: 15px;
    position: relative;
    top: -10px;
    left: -5px;
}

.container-read-only-tax-data {
    display: flex !important;
    justify-content: start;
    gap: 20px;
    margin: 0px !important;
    padding: 0px !important;
}

.container-tax-readOnly-grid {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 7px !important;
    height: 202px; /* Altura fija, asegúrate de que sea necesaria */
    width: 388px; /* Cambia a 100% para que ocupe el ancho disponible */
    padding: 16px; /* Añade un padding para mejorar el espaciado */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.container-credit-readOnly-grid {
    margin-top: 20px;
    background: #ffffff;
    border-radius: 7px !important;
    height: 244px; /* Altura fija, asegúrate de que sea necesaria */
    width: 388px; /* Cambia a 100% para que ocupe el ancho disponible */
    padding: 16px; /* Añade un padding para mejorar el espaciado */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.container-phone-readOnly-grid {
    background: #ffffff;
    border-radius: 7px !important;
    height: 202px; /* Altura fija, asegúrate de que sea necesaria */
    width: 394px; /* Cambia a 100% para que ocupe el ancho disponible */
    padding: 16px; /* Añade un padding para mejorar el espaciado */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.container-read-only-phone-data {
    display: flex !important;
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan a la siguiente línea */
    justify-content: start;
    gap: 20px;
    max-width: 100% !important;
    overflow-y: auto;
    margin: 20px 0px 0px 0px !important;
    padding: 0px !important;
    height: 500px;
}

.container-read-only-transaction {
    padding: 0px !important;
    margin-top: 20px !important;
    display: block !important;
    align-items: center;
    background: #ffffff;
    border-radius: 7px !important;
    justify-content: center !important;
    gap: 10px; /* Espacio entre los MudItem */
    max-width: 100% !important;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

.table-size-transact {
    width: 100% !important; /* Asegura que el DataGrid ocupe todo el ancho */
    flex-grow: 1; /* Ocupa todo el espacio disponible */
}

    .table-size-transact .mud-table-container {
        width: 100% !important;
        height: calc(25px * 11 + 50px); /* 10 filas + espacio del encabezado */
        overflow-y: auto !important;
    }

.margin-item {
    margin: 10px !important;
}

.readonly-status-Active {
    border-radius: 5px !important;
    padding: 4px 10px;
    background-color: #6CB93C !important;
    margin-top: 5px !important;
}

.readonly-status-Inactive {
    border-radius: 5px !important;
    padding: 4px 10px;
    background-color: #D0D0D0 !important;
    margin-top:5px !important;
}

.style-text-status .mud-typography-body1 {
    font-weight: 400 !important;
    font-size: 10px !important;
    line-height: 135% !important;
    color: #343030 !important;
}
@media (max-width: 820px) {
    .container-merchant-readOnly-head {
        justify-content: center !important;
    }

    .container-phone-readOnly-grid {
        width: 100%; /* Cambia a 100% para que ocupe el ancho disponible */
    }

    .container-facturado {
        width: 100%;
    }

    .container-deuda {
        width: 100%;
    }

    .container-credito {
        width: 100%;
    }
}
