.subTitle-merchant-list {
    font-size: 12px !important;
    width: 100%;
    height: 27px;
    font-weight: 400 !important;
    line-height: 14.63px !important;
    color: #343030;
}

.style-icon-import  {
    margin-left: 0px !important;
    margin-right: 0px !important;

}

.style-icon-import .mud-icon-root {
    width: 36px;
    height: 36px;
}

.btn-import {
    min-width: 36px !important;
    height: 36px;
    border-radius: 36px !important;
    padding: 0px !important;
}

.btn-help {
    border-radius: 36px !important;
    min-width: 36px !important;
    height: 36px;
    padding: 0px !important;
}

.style-btn-add-merchantList {
    color: #FFFFFF;
}

.btn-add-merchantList {
    border-radius: 30px !important;
    padding: 8px 24px !important;
    background: #293E8C;
    border: 1px solid #293E8C;
    width: 151px;
    height: 31px;
    gap: 6px;
}

.btn-add-merchantList .mud-button-label {
    font-weight: 700;
    color: #FFFFFF !important;
    line-height: 14.63px;
    font-size: 12px;
    text-transform: none;
}