.subTitle-style-list {
    font-size: 12px !important;
    width: 100%;
    height: 27px;
    font-weight: 400 !important;
    line-height: 14.63px !important;
    color: #343030;
}

.style-icon-import {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

    .style-icon-import .mud-icon-root {
        width: 36px;
        height: 36px;
    }

.style-icon-help {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

    .style-icon-help .mud-icon-root {
        width: 36px;
        height: 36px;
    }

.btn-import {
    min-width: 36px !important;
    height: 36px;
    border-radius: 36px !important;
    padding: 0px !important;
}

.btn-help {
    border-radius: 36px !important;
    min-width: 36px !important;
    height: 36px;
    padding: 0px !important;
}

.style-btn-add-entityList {
    color: #FFFFFF;
}

.btn-add-entityList {
    border-radius: 30px !important;
    padding: 8px 24px !important;
    background: #293E8C;
    border: 1px solid #293E8C;
    width: 151px;
    height: 31px;
    gap: 6px;
}

    .btn-add-entityList .mud-button-label {
        font-weight: 700;
        color: #FFFFFF !important;
        line-height: 14.63px;
        font-size: 12px;
        text-transform: none;
    }



.mud-grid-list {
    margin-top: 5px !important;
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    gap: 10px; /* Espacio entre los MudItem */
}

    .mud-grid-list .item-custom {
        width: auto; /* Se ajusta al contenido */
        height: 60px;
        white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    }

.mud-grid-item-list {
    padding: 0px !important;
}

.container-list-add {
    padding: 12px 24px 24px 24px;
    gap: 24px;
    border-radius: 7px !important;
}

.title-list-add {
    font-size: 24px !important;
    width: 224px;
    height: 27px;
    font-weight: 700 !important;
    color: #343030;
}
