.date-picker-adornment-divider .mud-input-adornment {
    border-left: 1px solid rgba(0, 0, 0, 0.23);
    padding-left: 8px;
    margin-left: 4px; 
    height: 100%; 
    display: flex;
    align-items: center;
}
.style-mud-input-calendar {
    margin-top: 5px !important;
}

.style-mud-input-calendar .mud-input-control-input-container .mud-input {
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14.63px !important;
    color: #707070 !important;
}

.style-mud-input-calendar .mud-input-control .mud-input-adornment .mud-icon-button {
    padding: 0px;
}

.style-mud-input-calendar .mud-input-control .mud-input-adornment .mud-icon-button .mud-icon-root {
    width:24px;
    height:24px;
    padding-left:7px;

}

.style-mud-input-calendar .mud-input-control-input-container .mud-input .mud-input-root {
    padding:0px 0px 0px 12px;
}

.style-mud-input-calendar .mud-input-control-input-container .mud-input .mud-input-outlined-border {
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.date-picker-adornment-divider .mud-paper {
    width: auto !important;
    height:auto !important;
}

.style-table-invoice .mud-table-container {
    overflow-y: hidden;
}

.style-table-invoice .mud-table-head {
    background-color: #707070;
    height:43px;
    border-radius:50px !important;
}

.style-table-invoice .mud-table-head .mud-table-cell {
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    color: #FFFFFF !important;
    text-align: center;
    border-bottom:none;
}

.style-table-invoice * .mud-table-row .mud-table-cell {
    padding: 7px 24px 0px 16px !important;
    padding-inline-start: 0px !important;
    padding-inline-end: 7px !important;
}

.style-table-invoice .mud-table-body .mud-table-cell {
    border-right: none !important;
    border-bottom: none !important;
}

.style-table-invoice .mud-table-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.style-table-invoice {
    border-color: transparent !important;
}

.p-start .mud-input-control-input-container .mud-input {
    padding-inline-start: 12px !important;
}


.style-text-calculate-invoice {
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 100% !important;
    color: #707070 !important;
}

.h-auto .mud-tooltip-root{
    height:20px;
}

.container-double-function-select {
    border: 1px solid #DDDDDD;
    width:140px;
    border-radius:4px;
}

.container-double-function-select .mud-input-control {
    max-width: 90px;
    margin: 0px !important;
}

.container-double-function-select .mud-select .mud-input-control {
    border-left: 1px solid #DDDDDD;
    max-width: 50px;
    margin: 0px !important;
}

.container-double-function-select .mud-select .mud-input-control .mud-input{
    padding:8px 0px 8px 10px;
}

.containter-total{
    align-items: end;
}

.txt-invoice-total {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 100% !important;
    color: #293E8C !important;
}

.txt-align-right .mud-input-control-input-container .mud-input .mud-input-slot
{
    text-align:right;
}

.style-btn-attach {
    width: 146px;
    height: auto;
    border-radius: 6px;
    background-color: #F6F6F6 !important;
    text-transform: none !important;
}

.style-btn-attach .mud-button-label {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 100% !important;
    color: #707070 !important;
}

.txt-attach {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 100% !important;
    color: #707070 !important;
}

.btn-register-invoice {
    border-radius: 30px !important;
    padding: 8px 16px 8px 24px !important;
    text-transform: none !important;
    background: #293E8C;
    border: 1px solid #293E8C;
    width: 168px;
    height: auto;
    gap: 6px;
}

.btn-register-invoice .mud-button-label {
    font-weight: 700;
    color: #FFFFFF !important;
    line-height: 100%;
    font-size: 12px;
}

.btn-save-draft {
    border-radius: 30px !important;
    padding: 8px 16px 8px 24px !important;
    text-transform: none !important;
    background: #293E8C;
    border: 1px solid #293E8C;
    width: 177px;
    height: auto;
    gap: 6px;
}

.btn-save-draft .mud-button-label {
    font-weight: 700;
    color: #293E8C !important;
    line-height: 100%;
    font-size: 12px;
}

.style-input-product-invoice {
    margin-top: 0px !important;
}

.style-input-product-invoice .mud-input-control-input-container .mud-input {
    padding: 8px 12px 8px 12px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 14.63px !important;
    color: #707070 !important;
}

.style-input-product-invoice .mud-input-control-input-container .mud-input .mud-input-root {
    padding: 0px;
    padding-inline-start: 0px;
}

.style-input-product-invoice .mud-input-control-input-container .mud-input .mud-input-outlined-border {
    border-radius: 4px;
    border: 1px solid #DDDDDD;
}

.txt-align-invoice-right .mud-input-control-input-container .mud-input .mud-input-root {
    text-align: right !important;
}

.txt-invocie-center .mud-input-control-input-container .mud-input .mud-input-root {
    text-align: center !important;
}

.container-pay-product .mud-paper{
    width:250px !important;
    padding-right: 41px;

}